body {background-color: white;
color: black;}

div {border: 1px solid #1af8fa;
padding: 4px;}

.maincontent {
    display: flex;
    flex-direction: row;
}
.blog {
    flex: 1;
}
.left {
    display: flex;
    flex-direction: column;
}

#logo {
    width: 33%;
    height: 100%;
    min-width: 222px;
}
